@charset "UTF-8";
.test {
  background-color: #000000; }

.green_text {
  color: green;
  font-weight: bold; }

.red_color {
  color: #DF0101;
  font-weight: bold; }

.gray_background {
  background-color: #F2F2F2; }

html {
  height: 100%; }

body {
  height: 100%; }

.loginform_wrapper {
  margin-top: 13%;
  margin-left: 25%; }
  .loginform_wrapper .submit_button {
    background-color: #00336D;
    border-radius: 5px !important;
    /* CSS3草案 */
    -webkit-border-radius: 5px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px !important;
    /* Firefox用 */
    color: #FFFFFF;
    border: none;
    padding: 10px; }

.search_form {
  float: right;
  z-index: 999;
  border-radius: 5px !important;
  /* CSS3草案 */
  -webkit-border-radius: 5px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px !important;
  /* Firefox用 */
  border: 3px solid #00336D; }
  .search_form form {
    padding: 0px 10px; }
  .search_form #search_form_input {
    display: none; }
  .search_form .search_form_button {
    background-color: #00336D;
    border-radius: 5px !important;
    /* CSS3草案 */
    -webkit-border-radius: 5px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px !important;
    /* Firefox用 */
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    display: block;
    margin: 0 auto; }
  .search_form h2 {
    margin: 2px 2px;
    text-align: center;
    font-size: 20px; }
    .search_form h2 span {
      font-size: 30px;
      color: #00336D; }

.header-wrapper {
  background-color: #00336D;
  height: 64px;
  margin-bottom: 18px; }
  .header-wrapper .system-title {
    padding-top: 10px;
    padding-left: 16px;
    margin-bottom: 0px; }
    .header-wrapper .system-title a {
      color: white;
      font-weight: bold;
      font-size: 30px; }
  .header-wrapper .header-navigation {
    float: right;
    padding: 10px 0; }
    .header-wrapper .header-navigation ul {
      margin-bottom: 0px; }
      .header-wrapper .header-navigation ul li {
        margin-top: 12px; }
        .header-wrapper .header-navigation ul li a {
          font-weight: bold;
          font-size: 13px;
          padding-right: 12px;
          color: white; }

.login {
  height: 100%; }
  .login .login_icon {
    margin-top: 200px; }
    .login .login_icon .icon {
      width: 10%; }
    .login .login_icon .balloon {
      width: 20%; }

.client_info {
  padding-left: 0px;
  padding-right: 0px;
  width: 1000px; }
  .client_info .detailsheet_title {
    color: #00336D; }
  .client_info .detail_title {
    background-color: #00336D; }
    .client_info .detail_title .detal_text {
      margin: 0 auto;
      font-size: 15px;
      height: 431px; }
      .client_info .detail_title .detal_text ul .client_name {
        font-size: 30px; }
      .client_info .detail_title .detal_text ul .client_name_ruby {
        font-size: 10px;
        margin-bottom: 20px; }
      .client_info .detail_title .detal_text ul .group_name {
        border-top: 1px solid #FFFFFF;
        padding-top: 20px; }
      .client_info .detail_title .detal_text ul li {
        letter-spacing: 1px;
        color: #FFFFFF;
        padding-top: 5px; }
      .client_info .detail_title .detal_text ul li:last-child {
        margin-bottom: 120px; }
    .client_info .detail_title .thumbnail {
      margin: auto;
      margin-top: 20px;
      margin-bottom: 20px;
      background-position: center center;
      background-size: 150px;
      background-repeat: no-repeat;
      width: 170px;
      height: 170px; }
  .client_info tbody {
    border: 1px solid #ddd; }
  .client_info table {
    margin-top: -1px; }
    .client_info table tr td:first-child {
      font-weight: bold; }
    .client_info table .infocategory_tag {
      color: #FFFFFF;
      background-color: #00336D; }
      .client_info table .infocategory_tag td {
        padding-top: 11px;
        padding-bottom: 9px; }

.all_wrapper {
  width: 90%;
  margin: 0 auto; }
  .all_wrapper .clients table {
    margin-top: 10px; }
    .all_wrapper .clients table thead tr th {
      color: #FFFFFF;
      background-color: #00336D; }
    .all_wrapper .clients table thead tr th:first-child {
      -webkit-border-top-left-radius: 5px;
      background-color: #00336D; }
    .all_wrapper .clients table thead tr th:last-child {
      -webkit-border-top-right-radius: 5px; }

.sidebar {
  padding-left: 5px;
  padding-right: 0px;
  margin-top: 38px;
  border-radius: 5px !important;
  /* CSS3草案 */
  -webkit-border-radius: 5px;
  /* Safari,Google Chrome用 */
  -moz-border-radius: 5px !important;
  /* Firefox用 */ }
  .sidebar ul .sidebar_tag {
    background-color: #00336D;
    padding: 10px 0px;
    padding-left: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-left: 0px;
    color: #FFFFFF; }
  .sidebar ul .sidebar_tag {
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px; }
  .sidebar ul li {
    margin-left: 10px;
    padding: 5px 0px; }
    .sidebar ul li p:hover {
      opacity: 0.5; }
    .sidebar ul li a {
      display: block;
      padding-top: 5px;
      padding-bottom: 5px;
      color: black; }
    .sidebar ul li ul {
      display: none; }

.pagination {
  margin-left: 32%; }
  .pagination ul li .now-hear {
    background-color: #00336D;
    color: #DBA901; }
  .pagination ul li a {
    padding: 5px 10px;
    color: #00336D;
    border: 2px solid #00336D;
    border-radius: 5px !important;
    /* CSS3草案 */
    -webkit-border-radius: 5px;
    /* Safari,Google Chrome用 */
    -moz-border-radius: 5px !important;
    /* Firefox用 */ }
  .pagination ul li:first-child a {
    background-color: #00336D;
    color: #DBA901; }
  .pagination ul li:last-child a {
    background-color: #00336D;
    color: #DBA901; }
  .pagination ul li.active a {
    background-color: #00336D;
    color: #DBA901; }

/*managers-add*/
.form-container {
  margin-top: 40px;
  margin-left: 30px; }
  .form-container label {
    width: 100%;
    margin-top: 12px; }
  .form-container input {
    width: 100%;
    font-weight: normal; }

.title p {
  font-size: 16px;
  font-weight: bold;
  color: #08298A;
  border-bottom: 2px solid #08298A;
  padding-bottom: 4px; }

.input select {
  background: url(../img/sankaku.png) no-repeat right;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 18%;
  padding: 5px 6px;
  font-size: 14px;
  font-weight: normal;
  border-radius: 0;
  border: 1px solid #D8D8D8;
  background-color: white;
  background-size: 20px, 100%; }

.submit-button {
  width: 10%;
  margin-top: 30px;
  border: 5px solid #08298A; }
  .submit-button button {
    width: 100%;
    background-color: #08298A;
    color: white;
    border-style: none;
    padding: 6px 10px; }

.submit-button:hover {
  opacity: 0.8; }

/*clients*/
.clients-title {
  font-size: 16px;
  font-weight: bold;
  color: #DBA901;
  border-bottom: 2px solid #DBA901;
  margin-top: 37px;
  margin-bottom: 16px;
  padding-bottom: 2px; }

.search_form {
  position: fixed;
  right: 30px;
  top: 75px;
  background-color: white; }
  .search_form .radio-padding {
    padding-left: 6px; }

/*info*/
.info-box {
  font-size: 13px;
  width: 900px;
  margin: 0 auto; }
  .info-box table {
    width: 100%;
    margin-top: 30px; }
  .info-box td {
    padding: 24px 0;
    border-top: 0.5px solid #D3D3D3; }
  .info-box p {
    padding-top: 88px; }

.map-img img {
  margin: 0 auto;
  width: 700px;
  display: block;
  margin-top: 10px;
  margin-bottom: 100px; }

/*5/17編集*/
.loginform_wrapper form .text {
  margin-bottom: 20px; }
  .loginform_wrapper form .text label {
    padding-right: 10px;
    font-size: 18px; }
  .loginform_wrapper form .text input {
    width: 350px;
    height: 30px; }
.loginform_wrapper form .password {
  margin-bottom: 20px; }
  .loginform_wrapper form .password label {
    padding-right: 12px;
    font-size: 18px; }
  .loginform_wrapper form .password input {
    width: 352px;
    height: 30px; }
.loginform_wrapper form button {
  background-color: navy;
  color: white;
  border-color: navy;
  padding: 7px 18px;
  border-style: none; }
.loginform_wrapper form button:hover {
  opacity: 0.5; }

.search_form .input {
  margin-bottom: 8px; }
  .search_form .input label {
    display: block;
    margin-bottom: 2px; }
  .search_form .input input {
    width: 175px; }
.search_form button {
  padding: 8px 26px;
  margin: 15px auto 10px;
  background-color: navy;
  color: white;
  border-style: none;
  display: block;
  border-radius: 2px; }
.search_form button:hover {
  opacity: 0.5; }

body {
  font-size: 13px; }

.table th a {
  color: white; }

.birth_alert {
  height: 70px; }

.form-container .input:nth-child(4) {
  display: none; }
.form-container .input:nth-child(5) {
  display: none; }

/*# sourceMappingURL=style.css.map */
